.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: start;
    width: 350px;
}

.sideChoice {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 299px;
  }